[Unit]
Description=mnemosyne-django
After=network.target auditd.service

[Service]
Environment=ENVIRONMENT=production
WorkingDirectory=/home/iml/apps/Mnemosyne/django
ExecStart=/home/iml/.pyenv/shims/gunicorn Mnemosyne.wsgi:application --bind=localhost:8991
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target

