server {
	server_name    mm.imlc0o0cl.ml;

	proxy_set_header    Host    $host;
	proxy_set_header    X-Real-IP    $remote_addr;
	proxy_set_header    X-Forwarded-Host       $host;
	proxy_set_header    X-Forwarded-Server    $host;
	proxy_set_header    X-Forwarded-For    $proxy_add_x_forwarded_for;

	client_max_body_size 10G;

	auth_basic "Auth Required";
	auth_basic_user_file /home/iml/iml-doorbell/.htpasswd;

	location /static/ {
		root /home/iml/apps/Mnemosyne/django;
	}
	location /media/ {
		root /home/iml/apps/Mnemosyne/django;
	}
	location / {
		proxy_pass http://localhost:8991;
	}

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/mm.imlc0o0cl.ml/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/mm.imlc0o0cl.ml/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = mm.imlc0o0cl.ml) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


	server_name    mm.imlc0o0cl.ml;
    listen 80;
    return 404; # managed by Certbot


}
