@charset "UTF-8";

body {
  background-color: #FAFAFA;
}

.registered-filament-table .filament-image, .registered-print3d-table .print3d-image {
  max-width: 10vw;
  max-height: 30vh;
}

.filament-image-preview, .print3d-image-preview {
  margin: 0.5rem;
  max-width: 100%;
  max-height: 30vh;
}
